.meetingBody {
  background-color: #f8f9fa;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.meetingContainer {
  width: 100%;
  max-width: 1200px; /* Increased width */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.meetingTitle {
  width: 100%;
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meetingCreateMeetingButton {
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.meetingCreateMeetingButton:hover {
  opacity: 0.9;
}

.meetingCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%; 
  transition: all 0.3s ease;
  /* font-weight: bold; */

}

.meetingCancel {
  background: #e5e7eb;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 10px;
  font-weight: 500;
  color: #111;
}

.meetingSaveMeetingButton {
  background: #111827;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 500;
}

.meetingbar {
  margin-top: 10px;
  padding: 10px;
  background-color: #e5e7eb;
  text-align: center;
  color: #555;
  border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .meetingContainer {
    padding: 0 10px;
  }

  .meetingTitle {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .meetingCreateMeetingButton {
    align-self: flex-end;
  }
}
